:root {
  --primary: #011c44;
  --secondary: #2b7fff;
  --grey: #747272;

  --primary-color-filter: brightness(0) saturate(100%) invert(11%) sepia(61%)
    saturate(1655%) hue-rotate(195deg) brightness(92%) contrast(108%);
  --secondary-color-filter: brightness(0) saturate(100%) invert(35%) sepia(89%)
    saturate(1973%) hue-rotate(205deg) brightness(102%) contrast(101%);
  --white-color-filter: brightness(0) saturate(100%) invert(99%) sepia(100%)
    saturate(2%) hue-rotate(210deg) brightness(107%) contrast(100%);

  --header-bg: rgba(255, 255, 255, 0.25);
}

/*
   Base Styles
*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.container {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 0 auto;
}

.accent {
  color: var(--secondary);
}

.section-title {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 100%;
  text-align: center;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--secondary);
}

.social-link:hover,
.social-link:focus {
  filter: var(--secondary-color-filter);
}

@media (min-width: 768px) {
  .section-title {
    font-size: 6.4rem;
  }
}

/*
   Header Block
*/
.header {
  position: relative;
  width: 100%;
  font-size: 1.6rem;
  padding: 1.6rem 0;
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: var(--secondary);
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.2rem;
    line-height: 2.1rem;
  }
}

/* Main Navigation */
.header__nav {
  display: none;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Social Navigation */
.header__social {
  display: none;
}

.header__social-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header__social-item {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.header__social-link {
  filter: var(--primary-color-filter);
}

/* Mobile Menu Toggle (Hamburger) */
.header__menu-toggle {
  position: relative;
  width: 20px;
  height: 14px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 0;
}

.header__bar {
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.header__bar:nth-child(1) {
  width: 14px;
}
.header__bar:nth-child(2) {
  width: 20px;
}
.header__bar:nth-child(3) {
  width: 10px;
}

.header__menu-toggle.active .header__bar {
  background: var(--primary);
}

.header__menu-toggle.active .header__bar:nth-child(1) {
  width: 20px;
  transform: translateY(6px) rotate(45deg);
}

.header__menu-toggle.active .header__bar:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.header__menu-toggle.active .header__bar:nth-child(3) {
  width: 20px;
  transform: translateY(-6px) rotate(-45deg);
}

/* Mobile Navigation */
.header__mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  padding: 7.8rem 2rem;
  background: #fff;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  font-size: 1.4rem;
  pointer-events: none;
}

.header__nav-link {
  pointer-events: inherit;
}

.header__mobile-nav.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.header__mobile-nav .header__nav-list {
  flex-direction: column;
  align-items: start;
  gap: 1.6rem;
}

.header__mobile-nav .header__social-list {
  margin-top: 1.6rem;
  gap: 1.6rem;
}

/*
   Media Queries
*/
@media (min-width: 768px) {
  .header__menu-toggle {
    display: none;
  }

  .header__nav,
  .header__social {
    display: block;
  }

  .header__mobile-nav {
    display: none;
  }

  .header {
    padding: 3.2rem 0;
    background-color: var(--header-bg);
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 1.8rem;
  }
  .header__nav-list {
    gap: 3rem;
  }
}

/* Hero section */

.hero {
  position: relative;
  margin-top: -106px;
  padding-top: 129px;
  padding-bottom: 122px;
  background: linear-gradient(
    89.38deg,
    #ffffff 30.62%,
    rgba(255, 255, 255, 0.850898) 41.31%,
    rgba(255, 255, 255, 0.193204) 58.65%,
    rgba(255, 255, 255, 0) 72.78%
  );
}

.hero__background {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.hero__container {
  display: flex;
  padding: 0 0.8rem;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  max-width: 52rem;
  text-align: center;
  font-family: "Play", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--secondary);
  font-size: 5.4rem;
  line-height: 4.6rem;
}

.hero__subtitle {
  font-size: 1.2rem;
}

.hero__offer {
  margin-top: 3.2rem;
  max-width: 23rem;
}

.hero__offer-btn {
  width: 100%;
  border-radius: 3.2rem;
  padding: 1.6rem 2.4rem;
  background: var(--secondary);
  color: #fff;
  font-size: 1.6rem;
  transition: 0.3s ease;
  border: 2px solid transparent;
}

.hero__offer-btn:hover,
.hero__offer-btn:focus {
  border: 2px solid var(--secondary);
  background: transparent;
  color: var(--secondary);
}

.hero__offer-text {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 126px;
    padding-bottom: 188px;
  }
}

@media (min-width: 1024px) {
  .hero__container {
    padding: 0 0 0 20rem;
    align-items: flex-start;
  }

  .hero__subtitle {
    font-size: 1.8rem;
  }

  .hero__title {
    text-align: start;
    font-size: 14rem;
    margin-top: 1.6rem;
    line-height: 11.4rem;
  }

  .hero__offer-text {
    margin-top: 1.4rem;
    font-size: 1.2rem;
  }

  .hero__offer {
    margin-top: 4rem;
  }

  .hero__offer-btn {
    font-size: 1.8rem;
    padding: 1.6rem 3.2rem;
  }
}

/* About */

.about {
  margin-top: -40px;
  position: relative;
  padding-bottom: 4rem;
}

.about__text-content {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.about__container {
  display: grid;
  gap: 2.8rem;
  grid-template-columns: 1fr;
}

.about__images {
  display: none;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}

.about__image {
  width: 32.7rem;
  height: auto;
  border-radius: 50%;
}

.about__image--second {
  align-self: self-end;
}

.about__star {
  position: absolute;
}

.about__star--1,
.about__star--2,
.about__star--3 {
  display: none;
}

@media (min-width: 768px) {
  .about {
    margin-top: 0;
  }

  .about__text-content {
    margin-top: 4rem;
    gap: 4rem;
    font-size: 2.2rem;
    line-height: 3.8rem;
  }

  .about__title {
    text-align: start;
  }
}

.about__mobile-star {
  position: absolute;
  right: 5%;
  bottom: -5%;
}

@media (min-width: 1024px) {
  .about__images {
    display: flex;
  }

  .about__container {
    grid-template-columns: minmax(0, 710px) 1fr;
  }

  .about__star {
    display: block;
  }

  .about__star--1 {
    top: 47%;
    left: 20%;
  }

  .about__star--2 {
    top: 0;
    right: 0;
  }

  .about__star--3 {
    top: 40%;
    right: 5%;
  }

  .about__mobile-star {
    display: none;
  }
}

/* Benefits section */

.benefits {
  padding-top: 12rem;
  position: relative;
  background-size: cover;
}

.benefits::after {
  content: "";
  top: 0;
  position: absolute;
  width: 100%;
  height: 1000px;
  background: url("images/icons/background.svg") no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;
}

.benefits__title {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 100%;
  text-align: center;
}

.benefits__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  margin-top: 2.4rem;
}

.benefits__item {
  padding: 2.4rem 3.2rem;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  border-radius: 2.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background: white;
  line-height: 2.4rem;
}

.benefits__item img {
  width: fit-content;
}

@media (min-width: 768px) {
  .benefits {
    padding-top: 20rem;
  }

  .benefits__title {
    font-size: 6.4rem;
  }

  .benefits__list {
    grid-template-columns: repeat(3, minmax(0, 316px));
    justify-content: space-between;
    margin-top: 4.2rem;
  }

  .benefits__container {
    max-width: 1060px;
    margin: 0 auto;
  }
}
/* Contacts */

.contacts {
  margin-top: 4rem;
}

.contacts__form {
  background: url(images/icons/contact-background.svg), no-repeat,
    var(--primary);
  color: #fff;
  padding: 4.2rem 2.4rem 2.4rem;
  border-radius: 3.2rem;
  margin: 0 2rem;
}

.contacts__form-wrapper {
  margin-top: 3.2rem;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.contacts__form-title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 100%;
  text-align: center;
}

.contacts__input {
  border-radius: 3.2rem;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.3rem;
  padding: 1.6rem 2.4rem;
  width: 100%;
  background: transparent;
  color: #fff;
  border: 2px solid var(--grey);
}

.contacts__input::placeholder {
  color: #fff;
}

.contacts__input:focus {
  border-color: var(--secondary);
}

.contacts__field {
  position: relative;
  width: 100%;
}

.contacts__error {
  position: absolute;
  bottom: -1.6rem;
  left: 2.4rem;
  font-size: 1.1rem;
  color: #ff3333;
}

.contacts__btn {
  width: 100%;
  border-radius: 2.4rem;
  padding: 1.3rem 0;
  background: var(--secondary);
  color: #fff;
  transition: 0.3s ease;
  font-size: 1.6rem;
  font-weight: 600;
}

.contacts__btn:hover,
.contacts__btn:focus {
  background: #fff;
  color: var(--secondary);
}

.contacts__disclaimer {
  max-width: 21.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  color: var(--grey);
}

.contacts__success {
  color: #3bb543;
  font-size: 1.4rem;
  display: none;
  text-align: center;
}

.map iframe {
  width: 100%;
  height: 100%;
  min-height: 23.2rem;
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2.4rem;
  gap: 2.4rem;
  padding: 0;
  max-width: 1060px;
}

.contacts__policy-link {
  text-decoration: underline;
}

.contacts__policy-link:hover {
  color: #fff;
}

@media (min-width: 1024px) {
  .map {
    order: -1;
    border-radius: 0;
  }

  .contacts__container {
    grid-template-columns: 1fr 1fr;
    max-height: 100%;
    gap: 3.2rem;
    padding: 0 2rem;
    margin-top: 4.8rem;
  }

  .map iframe {
    max-height: 100%;
    border-radius: 3.2rem;
  }

  .contacts__form-title {
    font-size: 2.2rem;
  }

  .contacts__form {
    padding: 4.8rem 5.6rem;
  }

  .contacts__input {
    padding: 1.8rem 3.2rem;
  }

  .contacts__btn {
    padding: 1.6rem 3.2rem;
    max-width: 28rem;
  }
}

/* Footer */

.footer {
  background: url(images/icons/footer-background.svg) no-repeat, var(--primary);
  padding: 3.2rem 0;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

footer::before {
  content: "";
  position: absolute;
  display: none;
  width: 278px;
  height: 213px;
  bottom: -64px;

  right: -32px;
  background: url(images/meds.webp) no-repeat;
}

.footer__menu {
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: start;
}

.footer__social-link {
  filter: var(--white-color-filter);
}

.footer__contacts {
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
}

.footer__copyright {
  margin-top: 0.8rem;
  color: var(--grey);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.footer {
  background: #011c44 url("images/icons/footer-background.svg") center/cover
    no-repeat;
  color: #fff;
  padding: 6rem 2rem;
  font-size: 1.6rem;
}

.footer__container {
  display: grid;
  justify-items: center;
  gap: 1.6rem;
  font-size: 1.4rem;
  grid-template-columns: 1fr;
}

.footer__policy {
  text-align: center;
}

.footer__logo-line:first-child {
  color: #4a78ff;
}

.footer__menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.footer__menu-link {
  text-decoration: none;
}

.footer__contacts {
  flex-direction: column;
  gap: 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
}

.footer__contacts-link {
  text-decoration: none;
}

.footer__contacts-link:hover,
.footer__contacts-link:focus {
  color: var(--secondary);
}

.footer__address {
  font-style: normal;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer__policy-link {
  text-decoration: none;
  display: block;
  margin-bottom: 1.2rem;
}

.footer__policy-link:hover,
.footer__policy-link:focus {
  color: var(--secondary);
}

.footer__contacts {
  display: none;
}

.footer__social-mobile {
  display: flex;
}

@media (min-width: 768px) {
  .footer__container {
    grid-template-columns: auto 1fr 1fr 240px;
    text-align: left;
    font-size: 1.6rem;
  }

  .footer__social {
    justify-content: flex-start;
  }

  .footer__policy {
    text-align: left;
  }

  .footer__menu {
    align-items: start;
  }

  .footer__contacts {
    display: flex;
  }

  .footer__social-mobile {
    display: block;
  }

  .footer::before {
    display: block;
  }

  .footer__social-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .footer__container {
    grid-template-columns: auto 1fr 1fr 240px;
    align-items: start;
  }

  .footer__contacts {
    display: flex;
  }

  .footer {
    margin-top: 9.6rem;
  }
}
