:root {
  --primary: #011c44;
  --secondary: #2b7fff;

  --primary-color-filter: brightness(0) saturate(100%) invert(11%) sepia(61%)
    saturate(1655%) hue-rotate(195deg) brightness(92%) contrast(108%);
  --secondary-color-filter: brightness(0) saturate(100%) invert(35%) sepia(89%)
    saturate(1973%) hue-rotate(205deg) brightness(102%) contrast(101%);
  --white-color-filter: brightness(0) saturate(100%) invert(99%) sepia(100%)
    saturate(2%) hue-rotate(210deg) brightness(107%) contrast(100%);

  --header-bg: rgba(255, 255, 255, 0.25);
}

/*
   Base Styles
*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.container {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 0 auto;
}

.accent {
  color: var(--secondary);
}

/*
   Header
*/
.header {
  position: relative;
  min-width: 100%;
  font-size: 1.6rem;
  padding: 1.6rem 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
   Logo
*/
.logo {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: var(--secondary);
}

/*
   Navigation
*/
.main-nav {
  display: none;
}

.social-nav {
  display: none;
}

.nav-list,
.social-list {
  display: flex;
  align-items: center;
}

.nav-list {
  gap: 3rem;
}

.nav-item a:hover {
  color: var(--secondary);
}

/*
   Social Icons
*/
.social-list {
  gap: 3.2rem;
}

.social-item {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.social-item a {
  filter: var(--primary-color-filter);
}

.social-item a:hover,
.social-item a:focus {
  filter: var(--secondary-color-filter);
}

/*
   Mobile Menu Toggle (Hamburger)
*/
.menu-toggle {
  position: relative;
  width: 20px;
  height: 14px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 0;
}

.bar {
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.bar:nth-child(1) {
  width: 14px;
}

.bar:nth-child(2) {
  width: 20px;
}

.bar:nth-child(3) {
  width: 10px;
}

.menu-toggle.active .bar {
  background: var(--primary);
}

.menu-toggle.active .bar:nth-child(1) {
  width: 20px;
  transform: translateY(6px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.menu-toggle.active .bar:nth-child(3) {
  width: 20px;
  transform: translateY(-6px) rotate(-45deg);
}

/* 
   Mobile Navigation
*/
.mobile-nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  padding: 7.8rem 2rem;
  background: #fff;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  font-size: 1.4rem;
}

.mobile-nav.active {
  transform: translateX(0);
  opacity: 1;
}

.mobile-nav .nav-list {
  flex-direction: column;
  align-items: start;
  gap: 1.6rem;
}

.mobile-nav .social-list {
  margin-top: 1.6rem;
  gap: 1.6rem;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .logo {
    font-size: 2.2rem;
    line-height: 2.1rem;
  }

  .main-nav,
  .social-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .header {
    padding: 3.2rem 0;
    background-color: var(--header-bg);
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 1.8rem;
  }

  .nav-list {
    gap: 3rem;
  }
}

/* Hero section */

.hero {
  position: relative;
  margin-top: -106px;
  padding-top: 129px;
  padding-bottom: 122px;
  position: relative;
  background: linear-gradient(
    89.38deg,
    #ffffff 30.62%,
    rgba(255, 255, 255, 0.850898) 41.31%,
    rgba(255, 255, 255, 0.193204) 58.65%,
    rgba(255, 255, 255, 0) 72.78%
  );
}

.hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.hero-container {
  display: flex;
  padding: 0 0.8rem;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  max-width: 52rem;
  text-align: center;
  font-family: "Play", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--secondary);

  font-size: 5.4rem;
  line-height: 4.6rem;
}

.hero-subtitle {
  font-size: 1.2rem;
}

.hero-offer {
  margin-top: 3.2rem;
  max-width: 22rem;
}

.hero-offer-btn {
  width: 23rem;
  height: 5.4rem;
  border-radius: 3.2rem;
  padding: 1.6rem 2.4rem;
  background: var(--secondary);
  color: #fff;
  font-size: 1.6rem;
  transition: 0.3s ease;
  border: 2px solid transparent;
}

.hero-offer-btn:hover,
.hero-offer-btn:focus {
  border: 2px solid var(--secondary);
  background: transparent;
  color: var(--secondary);
}

.hero-offer-text {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 126px;
    padding-bottom: 188px;
  }
}

@media (min-width: 1024px) {
  .hero-container {
    padding: 0 0 0 20rem;
    align-items: start;
  }

  .hero-subtitle {
    font-size: 1.8rem;
  }

  .hero-title {
    text-align: start;
    font-size: 14rem;
    margin-top: 1.6rem;
    line-height: 11.4rem;
  }

  .hero-offer-text {
    margin-top: 1.4rem;
    font-size: 1.2rem;
  }

  .hero-offer {
    margin-top: 4rem;
  }

  .hero-offer-btn {
    font-size: 1.8rem;
    padding: 1.6rem 3.2rem;
  }
}

/* Why us section */
.about {
  position: relative;
  padding-bottom: 4rem;
}

.about-title {
  font-weight: 500;
  line-height: 100%;
  font-size: 3.2rem;
}

.about-text-content {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.about-container {
  display: grid;
  gap: 2.8rem;
  grid-template-columns: 1fr;
}

.about-images {
  display: none;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}

.about-image {
  object-fit: cover;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about-image2 {
  align-self: self-end;
}

.star {
  position: absolute;
}

.star1 {
  display: none;
}

.star2 {
  display: none;
}

.star3 {
  display: none;
}

@media (min-width: 768px) {
  .about-title {
    font-size: 6.4rem;
    line-height: 100%;
  }

  .about-text-content {
    margin-top: 4rem;
    gap: 4rem;
    font-size: 2.2rem;
    line-height: 3.8rem;
  }
}

.mobile-star {
  position: absolute;
  right: 5%;
  bottom: -5%;
}

@media (min-width: 1024px) {
  .about-images {
    display: flex;
  }

  .about-image {
    width: 327px;
    height: 327px;
  }

  .about-container {
    grid-template-columns: minmax(0, 710px) 1fr;
  }

  .star {
    display: block;
  }

  .star1 {
    top: 50%;
    left: 20%;
  }

  .star2 {
    top: 0;
    right: 0;
  }

  .star3 {
    top: 40%;
    right: 5%;
  }

  .mobile-star {
    display: none;
  }
}

/* Benefits section */

.benefits {
  padding-top: 12rem;
  background: url("images/icons/background.svg") no-repeat;
  background-size: cover;
  background-position: top center;
}

.benefits-title {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 100%;
  text-align: center;
  max-width: 432px;
  margin: 0 auto;
}

.benefits-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  margin-top: 2.4rem;
}

.benefits-item {
  padding: 2.4rem 3.2rem;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  border-radius: 2.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background: #fff;
  line-height: 2.4rem;
}

.benefits-item img {
  width: fit-content;
}

@media (min-width: 768px) {
  .benefits {
    padding-top: 20rem;
  }

  .benefits-title {
    font-size: 6.4rem;
  }

  .benefits-list {
    grid-template-columns: minmax(0, 316px) minmax(0, 316px) minmax(0, 316px);
    justify-content: space-between;
    margin-top: 4.2rem;
  }

  .benefits-container {
    max-width: 1060px;
    margin: 0 auto;
  }
}
